body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.kotak-registrasi {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.kotak-login {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 360px;
    text-align: center;
}

.h2 {
    align-items: center;
    margin-bottom: 25px;
    color: #333;
    font-weight: 600;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #200df7;
    color: white;
    border: none;
    transition: background-color 0.3s sease;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.error-msg {
    color: red;
    font-size: 12px;
    text-align: left;
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;
}
a {
    display: block;
    margin-top: 20px;
    color: #0d6efd;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
