.sidebar {
    height: 100vh;
    background-color: #0d6efd; /* Biru (Beda dengan Admin yang gelap) */
    color: white;
}

.sidebar .nav-link {
    color: white;
    margin-bottom: 5px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #0b5ed7; /* Biru lebih gelap saat hover */
    border-radius: 5px;
    font-weight: bold;
}

.card-icon {
    font-size: 2rem;
    opacity: 0.5;
}
